* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EADBC8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
}

.navbar {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 95%;
    background-color: #F8F0E5;
    border-bottom: solid 3px #333;
    border-radius: 20px 20px 0 0;
    z-index: 2;
    position: fixed;
    font-weight: 500;
    font-size: 1.3rem;
}

.navbar ul {
    list-style: none;
    display: flex; 
}

.navbar li {
    margin: 10px 40px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: pink; 
}

.container {
    width: 95%;
    height: 95vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: 20px;
    outline: solid 3px #333;
}

.container::-webkit-scrollbar {
    display: none;
}

section {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: #F8F0E5;
}

.home{
    flex-direction: column;
    color: #333;
}

.header, .sub-header {
    color: #333;
}

.header {
    font-size: 55px;
    font-weight: bolder;
    padding-bottom: 4px;
}

.sub-header {
    font-size: 20px;
    font-weight: bolder;
    padding: 6px 0;
}

.social-icons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.social-icons a {
    margin: 0 30px;
    display: inline-block;
    position: relative;
}

.social-icons img {
    width: 35px; 
    transition: width 0.5s ease;
}

.social-icons img:hover {
    width: 45px;
}

.about {
    background-color: #F8F0E5;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
}

.desc {
    max-width: 800px;
    text-align: center;
}

.desc-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 22px;
    font-weight: 100;
    line-height: 1.6;
    margin-top: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 10px; 
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
}
.contact-form {
    width: 75%;
    max-width: 50%;

    border-radius: 20px;
}

.form-group {
    margin-bottom: 15px;
    max-width: 700px;
}

label {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

.contact-form input, .contact-form textarea {
    background-color: rgba(255, 255, 255, 0.5);

}

.contact-form {
    display: flex;
    align-items: center;

    .form-image {
        flex: 1;
        padding-right: 20px;
    }

    .form-content {
        flex: 2;
    }
}

.form-image {
    flex: 1; 
    padding-right: 20px;
}

.form-image img {
    max-width: 70%;
    height: auto
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar li {
        margin: 5px;
    }

    .header {
        font-size: 2rem;
    }

    .sub-header {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .social-icons img {
        width: 25px;
    }

    .desc-header h1 {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }

    input,
    textarea {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }

    .form-image {
        display: none;
    }

}